html {
  color: #ffffff;
  /* Set the background image and properties */
  background: url('water.jpg') repeat;
  background-size: cover;
  /* Animate the background position */
  animation: scroll-bg 30s linear infinite;
}

/* Keyframes for scrolling background from top left to bottom right */
@keyframes scroll-bg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
